<!DOCTYPE html>
<html>
<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/look_later.css">
    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
    <!--JS-->
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/js/look_later.js"></script>
    <title>I will look at this link later</title>
</head>
<body class="bottom">

<div id="header">I will look at this link later</div>

<form id="push_form">
    <div id="url_container" class="text_container">
        <label class="url-label" for="url">URL</label>
        <input type="text" name="url" id="url" value="" maxlength="512"/>
    </div>

    <div id="pass_container" class="text_container">
        <label class="pass-label" for="pass">Password</label>
        <input type="password" name="pass" id="pass" value="" maxlength="128"/>
        <input type='submit' value='Push URL' id='add_button' onclick=""/>
    </div>
    <img id="tube" src="../static/img/main.png" alt="Tube" title="Tube">
</form>
<hr class="bottom">
</body>
</html>