<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/look_later.js"></script>
    <title>I will look this link later</title>
</head>
<body>
<h1>I will look this link later</h1>

<form id="push_form">
    <label for="url">URL</label>
    <input type="text" name="url" id="url" value="" maxlength="512"/>

    <label for="pass">Password</label>
    <input type="password" name="pass" id="pass" value="" maxlength="128"/>

    <input type='submit' value='Push URL' id='add_button' onclick=""/>
</form>
</body>
</html>