<!DOCTYPE html>
<html>
<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/look_later.css">
    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
    <!--JS-->
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/js/pop_url.js"></script>
    <title>Yep, I'm looking at your link!</title>
</head>
<body class="top">

<img id="tube_top" src="../static/img/pop.png" alt="Tube" title="Tube">
<div id="data_container"></div>
<input type='button' value='Pop URL' id='pop_button' class="green_button"/>
<div id="header">Yep, I'm looking at your link!</div>

</body>
</html>